.image {
  display: inline-flex;
  position: relative;
  margin: 0;
  width: clamp(40px, 6vw, 64px);
  flex-shrink: 0;
  z-index: 999;
}
.image img {
  width: 100%;
  border-radius: 50%;
  z-index: 999;
}
